<div class="container">
    <div>
        <h3 class="heading pull-left">Teachers Record</h3>
        <button class="button pull-right">Add New</button>
    </div>
    <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Father</th>
            <th scope="col">CINC NO/BAY FORM</th>
            <th scope="col">CLASS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button class="mx-2">delete</button>
            <button>edit</button></td>
          </tr>
         
      </table>
</div>

